body {
    background-color: rgb(100, 100, 100);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



header {
    background-color: black;
    background-image: url("images/ghibli.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 400px;
    padding: 20px;
}

header a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
}

header .Logo a {
    background-image: url("images/AA.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;

    width: 80px;
    height: 80px;
    top: -30;

    /*  this is for disabled people to be able to hear logos with screen reader*/
    text-indent: -99999999px;
}

section {
    background-color: blue;
    padding: 20px;
    display: flex;
    flex-direction: row;

}

div {
    background-color: black;
    width: 100px;
    margin: 5px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    border-radius: 3px;
    padding: 3px;
    margin-left: 45px;
}

.button:hover {
    background-color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(95, 12, 12);
    padding: 10px 20px;
}

h1 {
    padding: 2px 20px;
}