body {
    background-color: rgb(100, 100, 100);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADERS HERE*/
header {
    background-color: black;
    background-image: url("images/ghibli.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 400px;
    padding: 20px;
}

header a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
}

header .Logo a {
    background-image: url("images/AA.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;

    width: 80px;
    height: 80px;
    top: -30;

    /*  this is for disabled people to be able to hear logos with screen reader*/
    text-indent: -99999999px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    border-radius: 3px;
    padding: 3px;
    margin-left: 45px;
}

.button:hover {
    background-color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ITEMS HERE */
section.Items {
    background-color: darkolivegreen;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.items figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.items figure img {
    border: 5px solid rgb(0, 255, 13);
    border-radius: 50%;
    width: 200px;
    box-shadow: white 0px 0px 10px;
}

/* FOOTER HERE */
footer {
    color: gray;
    background-color: rgb(95, 12, 12);
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}

h1 {
    padding: 2px 20px;
}